* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--purple: #8284fa;
	--blue: #4ea8de;
	--blue-dark: #1e6f9f;
	--purple-dark: #5e60ce;

}

body {
	background: #1a1a1a;
	color: #f2f2f2;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
}

button {
	cursor: pointer;
}
